/* Paleta de colores */
:root {
    --color-primario: #1B2E4F;
    --color-secundario: #00A6FB;
    --color-terciario: #000000;
    --color-fondo: #F2F2F2;
  }
  
  /* Fondo */
  body {
    background: var(--color-fondo);
  }
  
  /* Encabezado */
  header {
    margin: 30px 0;
  
    color: #FFF;
  }
  
  /* Contenido */
  .contenido {
    padding: 20px;
  }
  
  .contenido-principal {
    background-color: #FFF;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Presupuesto */
  .presupuesto p {
    margin-bottom: 0;
    font-weight: bold;
    color: var(--color-primario);
  }
  
  .presupuesto p span {
    font-weight: normal;
    color: var(--color-terciario);
  }
  
  /* Gastos */
  #gastos {
    margin-bottom: 30px;
  }
  
  /* Títulos */
  h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: var(--color-primario);
  }
  
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: var(--color-secundario);
    font-size: 22px;
    margin-bottom: 30px;
  }
  
  /* Pie de página */
  footer {
    margin-top: 30px;
    text-align: center;
    color: var(--color-primario);
    font-size: 20px;
    font-weight: 100;
  }
  
  @media (max-width: 768px) {
    :root {
        --color-primario: #1B2E4F;
        --color-secundario: #00A6FB;
        --color-terciario: #000000;
        --color-fondo: #F2F2F2;
    }
    body {
        background: var(--color-fondo);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header {
        margin: 10px 0;
    }
    .contenido {
        
        padding: 10px;
    }
    .contenido-principal {
       
        background-color: var(--color-fondo);
        padding: 15px;
        border-radius: 10px;
    }



    h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        color: var(--color-primario);
        font-size: 28px;
    }
    h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        color: var(--color-secundario);
        font-size: 16px;
        margin-bottom: 15px;
    }
    .presupuesto p {
        margin-bottom: 0;
        font-weight: bold;
        font-size: 14px;
    }
    .presupuesto p span {
        font-weight: normal;
        font-size: 12px;
    }
    #gastos {
        margin-bottom: 15px;
    }
}

